root = true

[*]
charset = utf-8
indent_style = tab
insert_final_newline = false
trim_trailing_whitespace = true

[*.svelte]
tab_width = 4

[*.{html,css}]
tab_width = 2

[*.{js,ts}]
indent_size = 4
tab_width = 4
